*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table{
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(0, 0, 0);
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
}
h1{
    text-align: center;
}
td{
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
}
th{
    background-color:rgb(224, 173, 255);
    color: rgb(0, 0, 0);
}
tr :nth-child(odd){
    background-color: rgb(106, 195, 118);
}
@media(min-widht:900px) and (max-windht:2000px){
    body{
        background-color: aquamarine;
    }
}